/* responsive meida query */
@media screen and (max-width:576px){
    .body{
      width: 100%;
    }
    /* header section stars here */
    .second-part{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    .banner-section{
        flex-direction: column;   
    }
    .description, .picture{
        width: 100%;
        height: 700px;     
    }
    .banner-section, .header-section {
        height: 100%;
    }
    .btn{
        width: 100%;
        align-items: normal;
    }
    .join-club{
        margin-right: 15%;
    }
    /* section one starts here */
    .section-one{
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }
    .image-container{
        grid-template-columns: repeat(1, 1fr) ;
        gap: 30px;
        text-align: center;
        padding: 0 20%;
        padding-top: 50px;
    }
    .text-part {
        height: 100%;
        margin: 0 auto;
        text-align: center;
    }
    /* section two starts here */
    .section-two {
        height:100%;
        flex-direction: column;
        margin-top: 40%;
    }
    .word{
        width:100%;
        height: 100%;
    }
    .run-img{
        width:100%;
        padding-left: 4%;
    }
    /* section three starts here */
    .section-three{
        height:100%;
        margin-top: 30%;
    }
    .layer-2{
        height: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .firstlayer{
        width: 60%;
        margin-left: 20%;
    }
    .secondlayer {
        width: 80%;
        padding-right: 20%;
        margin-left: 20%;
    }
    .grid-container{
        width: 80%;
    }
    .height, .weight, .age, .sex, .activity{
        width: 100%;
    }
    .button{
        margin-bottom: 20px;
    }
    /* section four starts here */
    .section-four{
        height: 2220px;
        width: 90%;
        padding-left: 10%;
        margin-top: 30%;
    }
    .trainer-container{
        height: 2000px;
        grid-template-columns: repeat(1, 1fr);
    }
    /* section five stars here */
    .section-five{
        height: 1600px;
        margin-top: 30%;
    }
    .subscription{
        grid-template-columns: repeat(1, 1fr);
        gap: 10%;
    }
    /* footer stars here */
    .footer{
        height:700px;
        width:100%;
        margin-top: 30px;
    }
    .footer-section{
        height:630px;
        flex-direction: column;
    }
   .footer-one{
        height: 200px;
        width: 100%;
    }
    .footer-two{
        padding-top: 10px;
        padding-left: 12%;
        width: 100%;
        flex-direction: column;
    }
    .first-part{
        padding-bottom: 30px;
    }
}